body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('../../assets/currency-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.header-name{

    text-align: center;
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: 0.5;
    margin-top: 1.875rem;
    font-size: 2.125rem;
}


